body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    height: 80vh; /* Increases the height of the container by 20px */
    position: relative;
}

#drink-score {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

#drink-container, #score {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 10px;
    width: calc(33% - 20px);
}

#topping-container, #inventory-container, #tea-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 10px;
    width: calc(33% - 20px);
}

#drink-container h2, #instructions h2, #tea-container h2, #summary h2,#topping-container,  #inventory-container h2 {
    margin-top: 0;
}


.tea-section {
    margin-bottom: 20px;
}

.tea-item {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tea-item span {
    margin: 0 10px;
}

.tea-item input.quantity-input {
    width: 60px;
    text-align: center;
    margin: 0 10px;
}

.tea-decrease-btn, .tea-increase-btn {
    padding: 5px 10px;
    font-size: 16px;
    color: black;
    border: none;
    border-radius: 4px;
}

.tea-decrease-btn:hover, .tea-increase-btn:hover {
    background-color: #ababab;
}

#add-tea-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#add-tea-btn:hover {
    background-color: #45a049;
}

.topping-section {
    margin-bottom: 20px;
}

.topping-item {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topping-item span {
    margin: 0 10px;
}

.topping-item input.quantity-input {
    width: 60px;
    text-align: center;
    margin: 0 10px;
}

.topping-decrease-btn, .topping-increase-btn {
    padding: 5px 10px;
    font-size: 16px;
    color: black;
    border: none;
    border-radius: 4px;
}

.topping-decrease-btn:hover, .topping-increase-btn:hover {
    background-color: #ababab;
}

#add-topping-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#add-topping-btn:hover {
    background-color: #45a049;
}


.inventory-item {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inventory-item span {
    margin: 0 10px;
}

.inventory-item input.quantity-input {
    width: 60px;
    text-align: center;
    margin: 0 10px;
}

.decrease-btn, .increase-btn {
    padding: 5px 10px;
    font-size: 16px;
    color: black;
    border: none;
    border-radius: 4px;
}

.decrease-btn:hover, .increase-btn:hover {
    background-color: #ababab;
}

.quantity {
    font-size: 16px;
    min-width: 30px;
    text-align: center;
}

#add-all-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#add-all-btn:hover {
    background-color: #45a049;
}

#spacer {
    padding: 100px;
    margin: 10px;
    width: 100vw; /* viewport width */
}

#summary {
	position: fixed;
	bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    width: 80%;
    margin: 20px auto;
	cursor: pointer;
    z-index: 1000;
}

#summary h2 {
    margin-top: 0;
}

#summary-list {
    list-style-type: none;
    padding: 0;
    text-align: left;
    display: inline-block;
}

#summary-list button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#summary-list button:hover {
    background-color: #45a049;
}

#serve-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#serve-btn:hover {
    background-color: #0056b3;
}

#toggle-water-btn {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#toggle-water-btn:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    #inventory-container, #topping-container, #tea-container {
        width: 100%;
        margin: 10px 0;
    }
}
